html {
    font-family: "open sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    color:rgb(255, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;

}
a{
    text-decoration: none;
    color: white;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;

}
#navbar ul li a{
    padding: 0.75rem;
}
#navbar ul li a:hover{
    border-radius: 4px;
    background: #336ea2;
}